<!-- Navigation -->
<mat-toolbar>
    <mat-toolbar-row style="font-size: 1.3rem;">
        <span>Desafio Angular<mat-icon>angular</mat-icon></span>
        <span class="toolbar-spacer"></span>
        <div class="button-row-spacer">
            <button mat-raised-button routerLink="/">Home</button>
            <button mat-raised-button routerLink="/usuarios">Usuarios</button>
            <button mat-raised-button routerLink="/fotos">Fotos</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- FIM Navigation -->